@import (less) url("colors.less");
@import (css) url("typo-dist.css");
@import (css) url("fonts-dist.css");
@import (css) url("bower_components/hover/css/hover.css");
@import (css) url("bower_components/font-awesome/css/font-awesome.css");

html {
	box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}
body, html {
	margin: 0;
	padding: 0;
	background-color: rgba(20,255,255, 0.3);
	font-size: 16px;
	font-family: georgia;
	line-height: 1.5;
	-moz-osx-font-smoothing: grayscale;
  	-webkit-font-smoothing: antialiased;
  	text-rendering: optimizeLegibility;
}
header {
	width: 100%;
	min-height: 100px;
	line-height: 100px;
	h1 {
		text-align: center;
		font-family: 'england_hand_dbregular';
		font-size: 4rem;
		margin: 0;
		color: Pantone #de007d;
	}
}

.dnahead {
	background-color: @dnahead;
}
.dnablock {
	background-color: @dnablock;
}

aside.sidemenu {
	width: 200px;
	height: auto;
	float: right;
	text-align: left;
	border-radius: 5px;
	border: 1px solid gray;
	background-color: @dnahead;
	li {
		padding-left: 20px;
		margin: 5px;
	}
	a:link {
		color:Chocolate;
		text-shadow: 1px 1px 1px black;
		text-decoration: none;
	}
	a:hover {
		background-color: Brown;
		color:Azure;
		padding: 3px;
	}
	a:visited {
		color: Lavender;
		text-shadow: 1px 1px 1px black;
		background-color: LemonChiffon;
	}
	h3 {
		margin-left: 20px;
	}
}
.container {
	display: flex;
	flex-flow: row wrap;
	max-width: 1200px;
	margin: 0 auto;
}

.item {
	min-width: 200px;
	p {
		font-size: 1em;
		margin: 8px 20px;
	}
	li {
		font-size: 1em;
	}
}
.papaya {
	background-color: #E8C6B6;
}
.flex-one {
	//background-color: rgba(255,255,255,0.6);
	background-color: #E8C6B6;
	flex: 1;
	min-height: 100px;
}
.flex-two {
	background-color: #E8C6B6;
	flex: 1;
	min-height: 100px;
}

.flex-three {
	background-color: #E8C6B6;
	flex: 1;
}
.flex-four {
	flex-direction: column;
	height: auto;
}
section>h1 {
	margin-left: .5em;
}
section article {
	margin: 0 1em;
}
article {
	border-radius: 5px;
	border: 1px solid gray;
	box-shadow: 1px 1px 1px gray;
	li {
		margin-left: 8px;
	}

}
.main-page {
		box-shadow: none !important;
		border: none !important;
	}
section {
	border-radius: 5px;
}
.border {
	border-radius: 5px;
	border: 1px solid gray;
}
// list
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
h2 {
	width: 100%;
}
/*-------------------------------------
	Nav
-------------------------------------*/
nav {
	height: 3.5em;
	width: 100%;
	background-color: #bdd2ff;
	//position: fixed;
	clear: both;
	margin-bottom: 5px;
	li {

		display: inline;
		a {
			margin: 0 1em;
			font-family: 'hallo_sansblack';
			letter-spacing: 1px;
		}
		a:hover {
			color:DodgerBlue;
			background-color:#00008B;
		}
	}
}
footer {
	padding: 10px;
	width: 100%;
	background-color: rgba(255,255,255,0.6);
	li {
	font-size: .75rem;
	margin: 7px 2em;
		a {
			color: red;
		}
	}
	h3 {
		margin: 0 2em;
	}
}
blockquote {
	margin-left: 1em;
	padding: 5px;
	border-left: 1px inset LightCyan;
}

dd {
	margin: 3px 2em;
}
dd[alt*="Click"]:hover {
	background-color: @cornsilk;
}

dt {
	margin: 1em;
}

h3.heading {
	background-color: lighten(#E82C0C, 30%);
	font-weight: bold;
}

a[href^="http"]:empty::before {
  content: attr(href);
}
nav a.current {
  background:darkblue;
  color:white;
}
/*
	Misc. Classes
 */
.centered {
	display: flex; /* establish flex container */
    flex-direction: column;
    height: 100%;
    padding: 0; /* for demo purposes */
    margin: 0; /* for demo purposes */
    h2 {
    	flex: 1 0 auto;
		display: flex; /* make each flex item a flex container, as well */
    	align-items: center; /* center text vertically (in this case) */
    	justify-content: center;
    }
    p {
    	flex: 1 0 auto;
		display: flex; /* make each flex item a flex container, as well */
    	align-items: center; /* center text vertically (in this case) */
    	justify-content: center;
    }
}
.smooth {
		//background-color: rgba(255,255,255,0.8)!important;
		background-image: none;
		background-color: PapayaWhip;
		p {
			margin: 5px 2em;
			text-indent: 15px;
		}
	}
.papaya {
	background-color: #E8C6B6;
}

.blend {
	background-image: linear-gradient(90deg, rgb(231, 76, 60) 25%, rgb(230, 126, 34) 100%);
	background-image: -ms-linear-gradient(left, rgb(231, 76, 60) 25%, rgb(230, 126, 34) 100%);
}

.m20 {
	margin-left: 2rem;
}
