@import (less) url("colors.less");
@import (css) url("typo-dist.css");
@import (css) url("fonts-dist.css");
@import (css) url("media-dist.css");
@import (css) url("../../bower_components/hover/css/hover.css");
@import (css) url("../../bower_components/font-awesome/css/font-awesome.css");
@large-desktop:1280px;
@small-desktop:992px;
@tablet:768px;
@mobile:480px;
/* Forms reference http://purecss.io/forms/ */

body, html {
	height: 100vh;
	margin: 0;
	padding: 0;
	background-image: url('../img/White_Paper.jpg');
	background-color: @vintage4;
    //background-blend-mode: difference;
	font-family: georgia;
	line-height: 1.618;
	-moz-osx-font-smoothing: grayscale;
  	-webkit-font-smoothing: antialiased;
  	text-rendering: optimizeLegibility;
  	transition: all 300ms ease;
    overflow: auto;
    box-sizing: border-box;
}

header {
	width: 100%;
	min-height: 100px !important;
	h1 {
        font-family: 'soriasoria';
        //font-family:'sequel';
		//font-family: 'england_hand_dbregular';
		font-size: 4.5rem;
		margin: 0;
		width: 100%;
		color: Pantone #de007d;
		text-shadow: 1px 1px 3px Tomato,-1px -1px 3px darken(@blue, 30%);
        .center;
	}
}

section>h1 {
	margin-left: .5em;
}
.datar {
	display: flex;
	justify-content: space-around;
	flex-flow: row wrap;
	border: 1px solid mistyrose;
}
section article, .sticky {
	margin: 0 1em 1em;
	color: @palette1;
}
section article:last-of-type, article.sticky {
	padding: 10px 0;
}
article {
	li {
		margin-left: 8px;
	}
	li:last-of-type {
		padding-bottom: 10px;
	}
	p:last-of-type {
		padding-bottom: 10px;
	}
	p {
		padding: 0 1rem;
        line-height: 1.6;
        font-size: 1.25rem;
	}
    legend {
        border:2px solid brown;
        padding: 3px 20px;
        margin-left: 20px;
    }
    fieldset {
        border: 2px solid brown;
    }
}
article p:first-of-type::first-letter {
        font-size: 3em;
        margin:10px 5px 0 5px;
        line-height: 1;
    }

article:last-of-type {
	box-shadow: none;
}

section {
	border-radius: 10px;
}

// list
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	li {
        padding-left: 0;
        padding-right: 1rem;
	}
}

article h2 {
	width: 100%;
    font-family:'sequel';
    //font-family: 'tanglewood_tales_nfregular';
}
/*-------------------------------------
	Nav
-------------------------------------*/
nav {
	height: 3.8em;
	width: 100%;
	background-color: #bdd2ff;
	//position: fixed;
	clear: both;
	margin-bottom: 15px;
	li {
		display: inline;
		a {
			margin: 0 1em;
			font-family: 'hallo_sansblack';
			letter-spacing: 1px;
		}
		a:hover {
			color:dodgerblue;
			background-color:#00008B;
		}
	}
}
footer {
    clear: both;
	padding: 10px;
	width: 100%;
	li {
	font-size: .75rem;
	margin: 7px 2em;
		a {
			color: red;
		}
		a:hover {
			color: #250000;
		}
	}
	h3 {
		margin: 0 2em;
	}
}
blockquote {
	margin-left: 1rem;
	padding: 5px;
	border-left: 3px inset @palette4;
    background-color: rgba(255, 230, 54,.2);
}

dd {
	margin: 3px 2em;
}
dd[alt*="Click"]:hover {
	background-color: @cornsilk;
}
dt {
	margin: 1em;
	font-size: 2em;
	font-weight: 600;
	color: black;
	font-family: 'england_hand_dbregular';
}
/*
	Misc. Classes
 */
button {
	text-align: center;
	box-shadow: 1px 1px 3px #222;
}
button:hover {
	box-shadow: -2px -2px -4px red;
}

/*	=============================================================================================================
	classes
==============================================================================================================*/
.page-title {
    color: @vintage3;
}
hr.half {
	width: 50%;
	text-align: center;
}
article.outline {
	box-shadow: 1px 1px 2px #222;
	li {
		list-style-type: none;
	}
}
h3.heading {
	background-color: lighten(#E82C0C, 30%);
	font-weight: bold;
}

a[href^="http"]:empty::before {
  content: attr(href);
}
nav a.current {
  background:DarkBlue;
  color:white;
}
.page-title {
	.center;
    font-size: 3rem;
    font-family: 'tanglewood_tales_nfregular';
}

.dnahead {
	background-color: @dnahead;
    p {
        font-size: 1.4em;
    }
}
.dnablock {
	background-color: @dnablock;
}

aside.sidemenu {
	width: 200px;
	height: auto;
	float: right;
	text-align: left;
	border-radius: 5px;
	border: 1px solid gray;
	li {
		padding-left: 20px;
		margin: 5px;
	}
	a:link {
		color:Chocolate;
		text-shadow: 1px 1px 1px black;
		text-decoration: none;
	}
	a:hover {
		background-color: brown;
		color:Azure;
		padding: 3px;
	}
	a:visited {
		color: Lavender;
		text-shadow: 1px 1px 1px black;
		background-color: LemonChiffon;
	}
}
.container {
	display: flex;
	flex-wrap: wrap;
	max-width: 80%;
	margin: 0 auto;
    //background-image: url(../img/Paper2.jpg);
}
.high {
        height: 75vh;
    }
.container-top {
    display: flex;
    flex-wrap: wrap;
    max-width: 90%;
    margin: 0 auto;
    max-height: 100px;
}
.container-bottom {
    display: flex;
    flex-wrap: wrap;
    max-width: 90%;
    margin: 0 auto;
    height: auto;
}


.item {
	p {
		font-size: 1em;
		margin: 8px 20px;
	}
	li {
		font-size: 1em;
	}
}
// .papaya {
// 	background-color: #E8C6B6;
// }
.box-left {
	max-width: 200px;
    flex: 1;
    border: 1px solid #250000;
}
.main-content {
   flex: 3;
   height: auto;
   display: flex;
   flex-direction: column;
   padding: 0 1rem;
}
.box-right {
   // background-color: @palette4;
   box-sizing: border-box;
   flex: 1;
   padding: 0 1rem;
   h1 {
    color: @vintage5;
   }
   .sidenotes {
    font-size: .85em;
    li {
        margin: 3px 10px;
        }
    }
   h2,h3,h4 {
    margin-left:.5rem;
    margin-right: .5rem;
    }
    h3 {
        border-bottom: 1px solid @vintage5;
    }
    br {
        margin: 3px 0;
    }
}
.box-right p:first-of-type::first-letter {
    font-size: 1.25rem;
    margin: 0;
}
.flex-four {
	flex-direction: column;
	min-height: 50px;
	p {
		align-self: center;
	}
}
.main-page {
		box-shadow: none !important;
		border: none !important;
		border-radius: 10px;
		h2:nth-of-type(1) {
			padding-top: 1em;
		}
	}

.border {
	border-radius: 5px;
	border: 1px solid gray;
}
.inliner {
	display: inline;
}
.centered {
	display: flex; /* establish flex container */
    flex-direction: column;
    height: 100%;
    padding: 0; /* for demo purposes */
    margin: 0; /* for demo purposes */
    h2 {
    	flex: 1 0 auto;
		display: flex; /* make each flex item a flex container, as well */
    	align-items: center; /* center text vertically (in this case) */
    	justify-content: center;
    }
    p {
    	flex: 1 0 auto;
		display: flex; /* make each flex item a flex container, as well */
    	align-items: center; /* center text vertically (in this case) */
    	justify-content: center;
    }
}
// .papaya {
// 	background-color: #E8C6B6;
// }

.blend {
	background-image: linear-gradient(90deg, rgb(231, 76, 60) 25%, rgb(230, 126, 34) 100%);
	background-image: -ms-linear-gradient(left, rgb(231, 76, 60) 25%, rgb(230, 126, 34) 100%);
}

.m20 {
	margin-left: 2rem;
}

.sf-menu li a:hover:before {
	/* content: "<i class='fa-location-arrow'></i> "; */
}

// #display {
// 	display: none
// }

.pad > li {
	padding: 3px 0;
}

/*
Modal buttons
 */
.modal-button {
	background-color: #BDD2FF;
	color: black;
	box-shadow: 1px 1px 2px #222;
}

.display1, .display2,.display3 {
	flex: 1 0 auto;
	height: 50px;
	font-family: 'england_hand_dbregular';
	font-size: 3em;
}
.center {
	display: flex; /* make each flex item a flex container, as well */
    align-items: center; /* center text vertically (in this case) */
    justify-content: center;
}
.end {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: end;
  color: @vintage5;
}
/*Tables */
#country {
	font-size: 1em;
	font-family: arial;
	td {
		text-align: center;
	}
}

.stripe {
    background-color: lighten(@vintage4, 30%);
}
.stripe1 {
    background-color: darken(@vintage4, 30%);
}

table {
    width: 80%;
    margin: 0 auto;
}


/*
--------------------------------------------------------------------Calendar
 */
.calendar {
    width: 90%;
    margin:5px auto;
}
table.calendar {
    margin: 10px auto;
    border-collapse: collapse;
    width: 100%;
}
.calendar .days td {
    width: 80px;
    height: 130px;
    padding: 4px;
    border: 1px solid #999;
    vertical-align: top;
    background-color: rgba(255,  255,  255,  0.9);
    font-size: 90%;
}
.calendar .days td:hover {
    background-color: #FFF;
    -moz-transform: scale(1.05) rotate(0deg) translate(0px,  0px) skew(0deg,  0deg);
    -webkit-transform: scale(1.05) rotate(0deg) translate(0px,  0px) skew(0deg,  0deg);
    -o-transform: scale(1.05) rotate(0deg) translate(0px,  0px) skew(0deg,  0deg);
    -ms-transform: scale(1.05) rotate(0deg) translate(0px,  0px) skew(0deg,  0deg);
    transform: scale(1.05) rotate(0deg) translate(0px,  0px) skew(0deg,  0deg);
}
.calendar .highlight {
    font-weight: bold;
    color: #00F;
}
th {
    font-size: 225%;
    color: @vintage3;
}
.wk {
    color: white;
    text-align: center;
    font-family: 'Atomic Age', cursive;
    font-size: 120%;
}
nav {
    background-color: transparent;
    width: 100%;
    height: 53px;
}
nav li {
    display: inline;
    padding: 3px 8px;
    margin: 0 5px;
}
.day_num {
    font-family: 'Geostar Fill', cursive;
}
