@import (less) url("colors.less");
.container {
	width: 70%;
	margin: 0 auto;
	background: @primary;
	overflow: auto;
}
nav {
	width: 20%;
	float: left;
	p {
		margin: 1em;
		color: @primetext;
		line-height: 1.5;
	}
}
#display {
	color: white;
}
.display {
	color: cornflowerblue;
} 
.bright {
	color: @lightprimary;
}
#display {
	background-color: @backdrop;
	color: contrast(@backdrop);
}
.highlite {
	color: @lightprimary;
}
.center {
	text-align: center;
	height: auto;	
}
.vanhorn {
	background-color: @vanhorn;
	color: contrast(@vanhorn);
	height: 200px;
	p {
		line-height: 1.5;
	}
}
.bostick {
	background-color: @bostick;
	color: contrast(@bostick);
	height: 200px;
	p {
		line-height: 1.5;
	}
}
article.centered {
	margin: 8px auto;
	width: 96%;
	height: auto;
	border: 1px solid red;
	p {
		text-align: left;
		margin: 5px;
	}
}