/*Dark blue */
/*background*/
/*orchid*/

.highlight {
  background-color: #133a7b;
  /*top colour*/
  background: -webkit-linear-gradient(top, #133a7b, #3f51b5);
  background: linear-gradient(to bottom, #133a7b, #3f51b5);
}
.top {
  height: 150px;
  text-align: center;
}
.align {
  padding: 0;
  margin: 0;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.align h1 {
  color: yellow;
  font-family: 'england_hand_dbregular';
  letter-spacing: 1px;
  font-size: 4rem;
}
li.main-country {
  list-style-type: none;
  padding: 0;
  margin: 1em;
  width: 100%;
  color: LightBlue;
}
.accent {
  padding-top: 1em;
  padding-bottom: 1em;
}
.section-header {
  height: 2em;
  margin: 0 .5em;
  color: indigo;
  text-shadow: 1px 2px 3px #c5cae9;
  letter-spacing: 2px;
}
.foot-header {
  height: 2rem;
  width: 100%;
}
.aside-header {
  width: 100%;
  height: 1rem;
}
main {
  width: 80%;
  float: left;
  background: #3f51b5;
  height: auto;
}
main hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: 20%;
  margin-right: 20%;
  border-style: inset;
  border-width: 1px;
}
footer {
  height: 200px;
  clear: both;
  float: left;
  width: 100%;
}
footer .foot-container {
  margin: 0 1rem;
}
footer .foot-container p {
  font-family: arial;
  font-size: .75em;
  margin: 1em;
}
aside {
  width: 25%;
  height: auto;
}
article {
  width: 100%;
  height: auto;
  color: #ffffff;
}
section {
  padding: 1em 0;
}
section p {
  color: #ffffff;
  margin: 12px 1.5em;
  line-height: 1.5;
}
/* --------------------------------
	#Forms
 ----------------------------------*/
form {
  padding-left: 5px;
}
form input,
form textarea {
  color: #ffffff;
  margin-left: 10px;
  border: 1px gray solid;
}
form textarea:focus,
form input:focus {
  outline: 4px solid Chocolate;
}
form textarea {
  color: #ffffff;
}
input[type='submit'] {
  background-image: -webkit-linear-gradient(0deg, #f39c12 25%, #e67e22 100%);
  background-image: linear-gradient(90deg, #f39c12 25%, #e67e22 100%);
  background-image: -ms-linear-gradient(left, #f39c12 25%, #e67e22 100%);
  border: 2px brown inset;
  margin: 5px;
  padding: 5px;
  height: 50px;
  border-radius: 50%;
}
input[type='reset'] {
  background-color: red;
  border: 2px brown inset;
  margin: 5px;
  padding: 5px;
  height: 50px;
  border-radius: 50%;
}
nav ul {
  list-style-type: none;
  padding: 0;
  margin: 1em 0;
  width: 100%;
}
nav ul li a {
  color: LightBlue;
  padding-left: 1em;
}
nav ul li a:hover {
  color: #ffffff;
}
li.main-nav {
  height: 2.5em;
  -webkit-transition: all .15s;
          transition: all .15s;
  background-color: #448aff;
  line-height: 2;
}
li.main-nav:hover {
  background-color: indigo;
}
.pure-form select {
  color: black;
}
form select {
  color: black;
}