@import url("typo-dist.css");
@import url("fonts-dist.css");
@import url("bower_components/hover/css/hover.css");
@import url("bower_components/font-awesome/css/font-awesome.css");
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body,
html {
  margin: 0;
  padding: 0;
  background-color: rgba(20, 255, 255, 0.3);
  font-size: 16px;
  font-family: georgia;
  line-height: 1.5;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
header {
  width: 100%;
  min-height: 100px;
  line-height: 100px;
}
header h1 {
  text-align: center;
  font-family: 'england_hand_dbregular';
  font-size: 4rem;
  margin: 0;
  color: Pantone #de007d;
}
.dnahead {
  background-color: #ffdcbb;
}
.dnablock {
  background-color: #d8ecd1;
}
aside.sidemenu {
  width: 200px;
  height: auto;
  float: right;
  text-align: left;
  border-radius: 5px;
  border: 1px solid gray;
  background-color: #ffdcbb;
}
aside.sidemenu li {
  padding-left: 20px;
  margin: 5px;
}
aside.sidemenu a:link {
  color: Chocolate;
  text-shadow: 1px 1px 1px black;
  text-decoration: none;
}
aside.sidemenu a:hover {
  background-color: Brown;
  color: Azure;
  padding: 3px;
}
aside.sidemenu a:visited {
  color: Lavender;
  text-shadow: 1px 1px 1px black;
  background-color: LemonChiffon;
}
aside.sidemenu h3 {
  margin-left: 20px;
}
.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  max-width: 1200px;
  margin: 0 auto;
}
.item {
  min-width: 200px;
}
.item p {
  font-size: 1em;
  margin: 8px 20px;
}
.item li {
  font-size: 1em;
}
.papaya {
  background-color: #E8C6B6;
}
.flex-one {
  background-color: #E8C6B6;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-height: 100px;
}
.flex-two {
  background-color: #E8C6B6;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-height: 100px;
}
.flex-three {
  background-color: #E8C6B6;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.flex-four {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
}
section > h1 {
  margin-left: .5em;
}
section article {
  margin: 0 1em;
}
article {
  border-radius: 5px;
  border: 1px solid gray;
  box-shadow: 1px 1px 1px gray;
}
article li {
  margin-left: 8px;
}
.main-page {
  box-shadow: none !important;
  border: none !important;
}
section {
  border-radius: 5px;
}
.border {
  border-radius: 5px;
  border: 1px solid gray;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
h2 {
  width: 100%;
}
/*-------------------------------------
	Nav
-------------------------------------*/
nav {
  height: 3.5em;
  width: 100%;
  background-color: #bdd2ff;
  clear: both;
  margin-bottom: 5px;
}
nav li {
  display: inline;
}
nav li a {
  margin: 0 1em;
  font-family: 'hallo_sansblack';
  letter-spacing: 1px;
}
nav li a:hover {
  color: DodgerBlue;
  background-color: #00008B;
}
footer {
  padding: 10px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.6);
}
footer li {
  font-size: .75rem;
  margin: 7px 2em;
}
footer li a {
  color: red;
}
footer h3 {
  margin: 0 2em;
}
blockquote {
  margin-left: 1em;
  padding: 5px;
  border-left: 1px inset LightCyan;
}
dd {
  margin: 3px 2em;
}
dd[alt*="Click"]:hover {
  background-color: Cornsilk;
}
dt {
  margin: 1em;
}
h3.heading {
  background-color: #f9a294;
  font-weight: bold;
}
a[href^="http"]:empty::before {
  content: attr(href);
}
nav a.current {
  background: darkblue;
  color: white;
}
/*
	Misc. Classes
 */
.centered {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  /* establish flex container */
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  padding: 0;
  /* for demo purposes */
  margin: 0;
  /* for demo purposes */
}
.centered h2 {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  /* make each flex item a flex container, as well */
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  /* center text vertically (in this case) */
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.centered p {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  /* make each flex item a flex container, as well */
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  /* center text vertically (in this case) */
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.smooth {
  background-image: none;
  background-color: PapayaWhip;
}
.smooth p {
  margin: 5px 2em;
  text-indent: 15px;
}
.papaya {
  background-color: #E8C6B6;
}
.blend {
  background-image: -webkit-linear-gradient(0deg, #e74c3c 25%, #e67e22 100%);
  background-image: linear-gradient(90deg, #e74c3c 25%, #e67e22 100%);
  background-image: -ms-linear-gradient(left, #e74c3c 25%, #e67e22 100%);
}
.m20 {
  margin-left: 2rem;
}
