@media screen and (max-width: 1000px) {
  .container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .box-left {
    order: 1;
    flex: 1;
  }
  .box2-left {
    order: 4;
    flex: 1;
  }
  .main-content {
    order: 2;
    flex: 1;
  }
  .box-right {
    order: 3;
    flex: 1;
  }
  .bottom {
    display: none;
  }
  .flex-four {
    display: none;
  }
  header h1 {
    display: none;
    font-size: 2rem;
    text-align: left;
  }
  .container-top {
    display: flex;
    flex-wrap: wrap;
    max-width: 90%;
    margin: 0 auto;
  }
  #top {
    display: none;
  }
}
